{% extends 'base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static '/horoscope/css/info.css' %}">
{% endblock %}

{% block title %}
    Гороскоп для {{ sign|capfirst }}
{% endblock %}

{% block content %}

    {% include 'includes/navbar.html' %}
    {% if description_zodiac is None %}
        <h2> Неправильный знак зодиака - {{ sign|capfirst }}</h2>
    {% else %}
        <h2>{{ description_zodiac|capfirst }}</h2>
    {% endif %}
    {% include 'includes/navbar.html' %}

{% endblock %}
